<h1> <center> CS329e Darwn Project </center> </h1>

<h2> <center> Name of Project </center> </h2>

<center> Explanation of what the project is and it's importance <center>

Links to use markdown and command mode to make this more readible (https://gist.github.com/kidpixo/f4318f8c8143adee5b40) (https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)

Example: Press esc (enables command mode) then press b to make a cell below, press esc then m to allow it to be text and not code. Use shift+enter in order to move to turn it into nice text and move to next cell

# Import libraries

In [137]:
# Import necessary libraries
import warnings
warnings.filterwarnings("ignore", message="numpy.dtype size changed")
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import Image
from time import sleep
import os
import numpy as np
from sklearn.metrics import classification_report

from amb_sdk.sdk import DarwinSdk

# Setup

In [208]:
# Login
ds = DarwinSdk()
username = 'thomasmendez@utexas.edu'
password = 'ZgQ4ktGjF2'
ds.set_url('https://amb-demo-api.sparkcognition.com/v1/')
status, msg = ds.auth_login_user(username, password)

if not status:
    print(msg)

In [210]:
# prints out token
# 'Bearer yadayayada'
# can also be used at https://amb-demo-api.sparkcognition.com/v1/
ds.auth_login_user(username, password)

(True,
 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1NTUwNjEzMzEsImlhdCI6MTU1NTA1NDEzMSwibmJmIjoxNTU1MDU0MTMxLCJqdGkiOiIyZDBhNjRkOC03NTk5LTQ2MmYtODcxZS01YWQ4MjUxMGY4YWYiLCJpZGVudGl0eSI6ImNmNzY5NDIwLTRmYzAtMTFlOS05ODE5LWJiNWU3M2ZlYzViYyIsImZyZXNoIjpmYWxzZSwidHlwZSI6ImFjY2VzcyJ9.J15kiRfXqJoTIUptjuNUdNNVbZQsKX_5S7UMYh9qbHI')

# **Data Paths**

### **Smart Locations Database**

In [139]:
path = './datasets'
dataset_name = 'SmartLocationDB.csv'
smartLocation = pd.read_csv(os.path.join(path,dataset_name))
smartLocation.head()

,OBJECTID,GEOID10,TRFIPS,CFIPS,SFIPS,CSA,CSA_Name,CBSA,CBSA_Name,CBSA_EMP,...,D5cr,D5cri,D5ce,D5cei,D5dr,D5dri,D5de,D5dei,Shape_Length,Shape_Area
0,1,10059505002,950500,5,1,NaN,NaN,21640.0,"Eufaula, AL-GA",9921.0,...,0.04,0.66,4.24,0.68,-99999.0,-99999.0,-99999.0,-99999.0,0.846952,0.018273
1,2,10059505001,950500,5,1,NaN,NaN,21640.0,"Eufaula, AL-GA",9921.0,...,0.04,0.67,4.70,0.75,-99999.0,-99999.0,-99999.0,-99999.0,0.521148,0.005095
2,3,10059502001,950200,5,1,NaN,NaN,21640.0,"Eufaula, AL-GA",9921.0,...,0.02,0.30,2.60,0.42,-99999.0,-99999.0,-99999.0,-99999.0,0.660835,0.018740
3,4,10059502002,950200,5,1,NaN,NaN,21640.0,"Eufaula, AL-GA",9921.0,...,0.01,0.27,2.58,0.41,-99999.0,-99999.0,-99999.0,-99999.0,0.695057,0.020340
4,5,10059504002,950400,5,1,NaN,NaN,21640.0,"Eufaula, AL-GA",9921.0,...,0.02,0.32,3.35,0.54,-99999.0,-99999.0,-99999.0,-99999.0,0.499117,0.008829

### **Cencus Tract Data**

In [140]:
path = './datasets'
dataset_name = 'SocialExplorer.csv'
socialExplorer = pd.read_csv(os.path.join(path,dataset_name), encoding='cp1252')
socialExplorer.head()

,Geo_FIPS,Geo_GEOID,Geo_NAME,Geo_QName,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_FILEID,Geo_LOGRECNO,Geo_US,...,SE_T128_001,SE_T128_002,SE_T128_009,SE_T128_010,SE_T128_003,SE_T128_004,SE_T128_005,SE_T128_006,SE_T128_007,SE_T128_008
0,10010201001,15000US010010201001,"Block Group 1, Census Tract 201, Autauga Count...","Block Group 1, Census Tract 201, Autauga Count...",al,150,0,ACSSF,5837,NaN,...,177,162,157,5,0,9,0,0,0,6
1,10010201002,15000US010010201002,"Block Group 2, Census Tract 201, Autauga Count...","Block Group 2, Census Tract 201, Autauga Count...",al,150,0,ACSSF,5838,NaN,...,652,598,583,15,22,5,0,0,27,0
2,10010202001,15000US010010202001,"Block Group 1, Census Tract 202, Autauga Count...","Block Group 1, Census Tract 202, Autauga Count...",al,150,0,ACSSF,5839,NaN,...,475,475,406,69,0,0,0,0,0,0
3,10010202002,15000US010010202002,"Block Group 2, Census Tract 202, Autauga Count...","Block Group 2, Census Tract 202, Autauga Count...",al,150,0,ACSSF,5840,NaN,...,451,451,439,12,0,0,0,0,0,0
4,10010203001,15000US010010203001,"Block Group 1, Census Tract 203, Autauga Count...","Block Group 1, Census Tract 203, Autauga Count...",al,150,0,ACSSF,5841,NaN,...,1098,1052,1002,50,3,0,0,0,0,43

# Combine Data

**Combine data from the Smart Locations Database and Census Tract Data. Both datasets are for the entire U.S.**

Both datasets have a GEOID that is used to represent a geographic location

Some of the most common administrative/legal and statistical geographic entities with unique GEOIDs include states, counties, congressional districts, core based statistical areas (metropolitan and micropolitan areas), census tracts, block groups and census blocks. <br>

*Note: GEOIDs are numeric codes that uniquely identify all administrative/legal and statistical geographic areas for which the Census Bureau tabulates data.*

### **Get Social Explorer Data**

Social Expolorer dataset with column name and description. Get the mode share.

| Column # | Column Name | Description                              |
|----------|-------------|------------------------------------------|
| 0        | Geo_FIPS    | Geographic Identifier                    |
| 55       | SE_T128_001 | Workers 16 Years and Over:               |
| 56       | SE_T128_002 | Car, Truck, or Van                       |
| 57       | SE_T128_009 | Drove Alone                              |
| 58       | SE_T128_010 | Carpooled                                |
| 59       | SE_T128_003 | Public Transportation (Includes Taxicab) |
| 60       | SE_T128_004 | Motorcycle                               |
| 61       | SE_T128_005 | Bicycle                                  |
| 62       | SE_T128_006 | Walked                                   |
| 63       | SE_T128_007 | Other Means                              |
| 64       | SE_T128_008 | Worked At Home                           |

In [141]:
#includes only relevant columns (modeShareSplit and Geo_FIPS code) from Social Explorer

modeShareAll = socialExplorer.iloc[:,[0, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64]]
#modeShareAll.head()
#print(modeShareAll.columns.values)
#creates new dataframe with % SOV
modeShareSOV = modeShareAll.iloc[:,[0,1,2]]
#modeShareSOV.head()
percSOV = modeShareAll['SE_T128_009']/modeShareAll['SE_T128_001']
modeShareSOV['percSOV'] = percSOV

#new dataframe with Geo_FIPS and SOV only (ID and class)
#print(list(modeShareSOV))
modeShareSOVPerc = modeShareSOV.iloc[:,[0,3]]
print(modeShareSOVPerc.head())
print()
print("Amount of rows:", len(modeShareSOVPerc))

      Geo_FIPS   percSOV
0  10010201001  0.887006
1  10010201002  0.894172
2  10010202001  0.854737
3  10010202002  0.973392
4  10010203001  0.912568

Amount of rows: 220333

C:\Anaconda3_2018_12\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

<a id="smartLocation"></a>

### **Get Smart Location Data**

Features that will be used from the Smart Location Database

* Note: Some new normalized features were added from the data (&ast;). Some features were never used because they are not relevant enough. Some features may be partially used or have replaced values when data is combined.

<table class="table table-bordered table-hover table-condensed" align="left">
    <thead>
        <tr>
            <th title="Field #1"><p align="left|right|center|justify">Column Name</th>
            <th title="Field #2"><p align="left|right|center|justify">Description</th>
            <th title="Field #3"><p align="left|right|center|justify">Category</th>
            <th title="Field #4"><p align="left|right|center|justify">Source</th>
            <th title="Field #5"><p align="left|right|center|justify">Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> <p align="left|right|center|justify">GEOID10 </td>
            <td> <p align="left|right|center|justify">Census block group 12 - digit FIPS code </td>
            <td> <p align="left|right|center|justify">Geographic </td>
            <td> <p align="left|right|center|justify">2010 Census TIGER/Line </td>
            <td> <p align="left|right|center|justify">Same Identifier as GeoFIPS to combine data</td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">P_WRKAGE </td>
            <td> <p align="left|right|center|justify">Percent of population that is working aged </td>
            <td> <p align="left|right|center|justify">Demographics </td>
            <td> <p align="left|right|center|justify">2010 decennial Census </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">PCT_AO0 </td>
            <td> <p align="left|right|center|justify">Percent of zero-car households in CBG </td>
            <td> <p align="left|right|center|justify">Demographics </td>
            <td> <p align="left|right|center|justify">ACS </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">PCT_AO1 </td>
            <td> <p align="left|right|center|justify">Percent of one-plus-car households </td>
            <td> <p align="left|right|center|justify">Demographics </td>
            <td> <p align="left|right|center|justify">ACS </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">PCT_AO2P </td>
            <td> <p align="left|right|center|justify">Percent of two-plus-car households </td>
            <td> <p align="left|right|center|justify">Demographics </td>
            <td> <p align="left|right|center|justify">ACS </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">R_LowWageWk </td>
            <td> <p align="left|right|center|justify"># of workers earning 1250/month or less (home location), 2010 </td>
            <td> <p align="left|right|center|justify">Employment </td>
            <td> <p align="left|right|center|justify">Cencus LEHD, 2010 </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">R_MedWageWk </td>
            <td> <p align="left|right|center|justify"># of workers earning more than 1250/month but less than 3333/month (home location), 2010 </td>
            <td> <p align="left|right|center|justify">Employment </td>
            <td> <p align="left|right|center|justify">Cencus LEHD, 2010 </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">R_HiWageWk </td>
            <td> <p align="left|right|center|justify"># of workers earning 3333/month or more (home location), 2010 </td>
            <td> <p align="left|right|center|justify">Employment </td>
            <td> <p align="left|right|center|justify">Cencus LEHD, 2010 </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">R_LOWWAGEWK_PERC* </td>
            <td> <p align="left|right|center|justify">% of workers earning 1250/month or less (work location), 2010 </td>
            <td> <p align="left|right|center|justify">Employment </td>
            <td> <p align="left|right|center|justify">Cencus LEHD, 2010 </td>
            <td> <p align="left|right|center|justify">Created by the # of workers from R_LowWageWk / CBSA_Wrk </td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">R_MedWageWk_PERC* </td>
            <td> <p align="left|right|center|justify">% of workers earning more than 1250/month but less than 3333/month (work location), 2010 </td>
            <td> <p align="left|right|center|justify">Employment </td>
            <td> <p align="left|right|center|justify">Cencus LEHD, 2010 </td>
            <td> <p align="left|right|center|justify">Created by the # of workers from R_MedWageWk / CBSA_Wrk </td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">R_HiWageWk_PERC* </td>
            <td> <p align="left|right|center|justify">% of workers earning 3333/month or more (work location), 2010 </td>
            <td> <p align="left|right|center|justify">Employment </td>
            <td> <p align="left|right|center|justify">Cencus LEHD, 2010 </td>
            <td> <p align="left|right|center|justify">Created by the # of workers from R_HiWageWk / CBSA_Wrk </td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">R_PCTLOWWAGE </td>
            <td> <p align="left|right|center|justify">% LowWageWk of total # workers in a CBG (home location) </td>
            <td> <p align="left|right|center|justify">Demographics </td>
            <td> <p align="left|right|center|justify">Cencus LEHD, 2010 </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">E_LowWageWk </td>
            <td> <p align="left|right|center|justify"># of workers earning 1250/month or less (home location), 2010 </td>
            <td> <p align="left|right|center|justify">Employment </td>
            <td> <p align="left|right|center|justify">Cencus LEHD, 2010 </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">E_MedWageWk </td>
            <td> <p align="left|right|center|justify"># of workers earning more than 1250/month but less than 3333/month (home location), 2010 </td>
            <td> <p align="left|right|center|justify">Employment </td>
            <td> <p align="left|right|center|justify">Cencus LEHD, 2010 </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">E_HiWageWk </td>
            <td> <p align="left|right|center|justify"># of workers earning 3333/month or more (home location), 2010 </td>
            <td> <p align="left|right|center|justify">Employment </td>
            <td> <p align="left|right|center|justify">Cencus LEHD, 2010 </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">E_LOWWAGEWK_PERC* </td>
            <td> <p align="left|right|center|justify">% of workers earning 1250/month or less (work location), 2010 </td>
            <td> <p align="left|right|center|justify">Employment </td>
            <td> <p align="left|right|center|justify">Cencus LEHD, 2010 </td>
            <td> <p align="left|right|center|justify">Created by the # of workers from E_LowWageWk / CBSA_Wrk </td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">E_MedWageWk_PERC* </td>
            <td> <p align="left|right|center|justify">% of workers earning more than 1250/month but less than 3333/month (work location), 2010 </td>
            <td> <p align="left|right|center|justify">Employment </td>
            <td> <p align="left|right|center|justify">Cencus LEHD, 2010 </td>
            <td> <p align="left|right|center|justify">Created by the # of workers from E_MedWageWk / CBSA_Wrk </td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">E_HiWageWk_PERC* </td>
            <td> <p align="left|right|center|justify">% of workers earning 3333/month or more (work location), 2010 </td>
            <td> <p align="left|right|center|justify">Employment </td>
            <td> <p align="left|right|center|justify">Cencus LEHD, 2010 </td>
            <td> <p align="left|right|center|justify">Created by the # of workers from E_HiWageWk / CBSA_Wrk </td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">E_PCTLOWWage </td>
            <td> <p align="left|right|center|justify">% LowWage of total # workers in a CBG (work location) </td>
            <td> <p align="left|right|center|justify">Employment </td>
            <td> <p align="left|right|center|justify">Census LEHD, 2010 </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D1A </td>
            <td> <p align="left|right|center|justify">Gross residential density (HU/acre) on unprotected land </td>
            <td> <p align="left|right|center|justify">Density </td>
            <td> <p align="left|right|center|justify">Derived from other SLD variables </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D1B </td>
            <td> <p align="left|right|center|justify">Gross population density (people/acre) on unprotected land </td>
            <td> <p align="left|right|center|justify">Density </td>
            <td> <p align="left|right|center|justify">Derived from other SLD variables </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D1C </td>
            <td> <p align="left|right|center|justify">Gross employment density (jobs/acre) on unprotected land </td>
            <td> <p align="left|right|center|justify">Density </td>
            <td> <p align="left|right|center|justify">Derived from other SLD variables </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D2A_JPHH </td>
            <td> <p align="left|right|center|justify">Jobs per household </td>
            <td> <p align="left|right|center|justify">Diversity </td>
            <td> <p align="left|right|center|justify">Derived from other SLD variables </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D2A_WRKEMP </td>
            <td> <p align="left|right|center|justify">Household workers per job, as compared to the region: Deviation of CBG ratio of household workers/jobs from regional
                average ratio of household workers/jobs </td>
            <td> <p align="left|right|center|justify">Diversity </td>
            <td> <p align="left|right|center|justify">Derived from other SLD variables </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D2C_WREMIX </td>
            <td> <p align="left|right|center|justify">Household workers per job, as compared to the region: Deviation of CBG ratio of household workers/jobs from regional
                average ratio of household workers/jobs in CBG </td>
            <td> <p align="left|right|center|justify">Diversity </td>
            <td> <p align="left|right|center|justify">Derived from other SLD variables </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D3a </td>
            <td> <p align="left|right|center|justify">Total road network density </td>
            <td> <p align="left|right|center|justify">Design </td>
            <td> <p align="left|right|center|justify">NAVSTREETS </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D3aao </td>
            <td> <p align="left|right|center|justify">Network density in terms of facility miles of auto- oriented links per square mile </td>
            <td> <p align="left|right|center|justify">Design </td>
            <td> <p align="left|right|center|justify">NAVSTREETS </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D3amm </td>
            <td> <p align="left|right|center|justify">Network density in terms of facility miles of multi-modal links per square mile </td>
            <td> <p align="left|right|center|justify">Design </td>
            <td> <p align="left|right|center|justify">NAVSTREETS </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D3apo </td>
            <td> <p align="left|right|center|justify">Network density in terms of facility miles of pedestrian-oriented links per square mile </td>
            <td> <p align="left|right|center|justify">Design </td>
            <td> <p align="left|right|center|justify">NAVSTREETS </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D3b </td>
            <td> <p align="left|right|center|justify">Street intersection density (weighted, auto-oriented intersections eliminated) </td>
            <td> <p align="left|right|center|justify">Design </td>
            <td> <p align="left|right|center|justify">NAVSTREETS </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D3bao </td>
            <td> <p align="left|right|center|justify">Intersection density in terms of auto-oriented intersections per square mile </td>
            <td> <p align="left|right|center|justify">Design </td>
            <td> <p align="left|right|center|justify">NAVSTREETS </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D3bmm3 </td>
            <td> <p align="left|right|center|justify">Intersection density in terms of multi-modal intersections having three legs per square mile </td>
            <td> <p align="left|right|center|justify">Design </td>
            <td> <p align="left|right|center|justify">NAVSTREETS </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D3bmm4 </td>
            <td> <p align="left|right|center|justify">Intersection density in terms of multi-modal intersections having four or more legs per square mile </td>
            <td> <p align="left|right|center|justify">Design </td>
            <td> <p align="left|right|center|justify">NAVSTREETS </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D3bpo3 </td>
            <td> <p align="left|right|center|justify">Intersection density in terms of pedestrian-oriented intersections having three legs per square mile </td>
            <td> <p align="left|right|center|justify">Design </td>
            <td> <p align="left|right|center|justify">NAVSTREETS </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D3bpo4 </td>
            <td> <p align="left|right|center|justify">Intersection density in terms of pedestrian- oriented intersections having four or more legs per square mile
                </td>
            <td> <p align="left|right|center|justify">Design </td>
            <td> <p align="left|right|center|justify">NAVSTREETS </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D4a </td>
            <td> <p align="left|right|center|justify">Distance from population weighted centroid to nearest transit stop (meters) </td>
            <td> <p align="left|right|center|justify">Transit </td>
            <td> <p align="left|right|center|justify">GTFS;TOD Database 2012 </td>
            <td> <p align="left|right|center|justify">Option 1: Remove feature Option 2: Remove rows with values or -99999 Option 3: Replaced value of -99999 as 0
                because it is likely that it does not have public transit in area **Important if dropped removes 23,595 rows for
                -99999 and then other features in Density Accessibility get affected </td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D4b025 </td>
            <td> <p align="left|right|center|justify">Proportion of CBG employment within 1/4 mile of fixed-guideway transit stop </td>
            <td> <p align="left|right|center|justify">Transit </td>
            <td> <p align="left|right|center|justify">TOD Database 2012, SLD unprotected area polygons </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D4b050 </td>
            <td> <p align="left|right|center|justify">Proportion of CBG employment within 1/2 mile of </td>
            <td> <p align="left|right|center|justify">Transit </td>
            <td> <p align="left|right|center|justify">TOD Database 2012, SLD unprotected area polygons </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D4c </td>
            <td> <p align="left|right|center|justify">Aggregate frequency of transit service within 0.25 miles of block group boundary per hour during evening peak
                period </td>
            <td> <p align="left|right|center|justify">Transit </td>
            <td> <p align="left|right|center|justify">GTFS </td>
            <td> <p align="left|right|center|justify">Option 1: Remove feature Option 2: Remove rows with values or -99999 Option 3: Replaced value of -99999 as 0
                because it is likely that it does not have public transit in area </td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D4d </td>
            <td> <p align="left|right|center|justify">Aggregate frequency of transit service (D4c) per square mile </td>
            <td> <p align="left|right|center|justify">Transit </td>
            <td> <p align="left|right|center|justify">Derived from other SLD variables </td>
            <td> <p align="left|right|center|justify">Option 1: Remove feature Option 2: Remove rows with values or -99999 Option 3: Replaced value of -99999 as 0
                because it is likely that it does not have public transit in area </td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D5ar </td>
            <td> <p align="left|right|center|justify">Jobs within 45 minutes auto travel time, time-decay (network travel time) weighted </td>
            <td> <p align="left|right|center|justify">Destination Accessibility </td>
            <td> <p align="left|right|center|justify">NAVSTREETS </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D5ae </td>
            <td> <p align="left|right|center|justify">Working age population within 45 minutes auto travel time, time-decay (network travel time) weighted </td>
            <td> <p align="left|right|center|justify">Destination Accessibility </td>
            <td> <p align="left|right|center|justify">NAVSTREETS </td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D5br </td>
            <td> <p align="left|right|center|justify">Jobs within 45-minute transit commute, distance decay (walk network travel time, GTFS schedules) weighted </td>
            <td> <p align="left|right|center|justify">Destination Accessibility </td>
            <td> <p align="left|right|center|justify">NAVSTREETS </td>
            <td> <p align="left|right|center|justify">Option 1: Remove feature Option 2: Remove rows with values or -99999 Option 3: Replaced value of -99999 as 0
                because it is likely that it does not have public transit in area </td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D5be </td>
            <td> <p align="left|right|center|justify">Working age population within 45-minute transit commute, time-decay (walk network travel time, GTFS schedules)
                weighted </td>
            <td> <p align="left|right|center|justify">Destination Accessibility </td>
            <td> <p align="left|right|center|justify">NAVSTREETS </td>
            <td> <p align="left|right|center|justify">Option 1: Remove feature Option 2: Remove rows with values or -99999 Option 3: Replaced value of -99999 as 0
                because it is likely that it does not have public transit in area </td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D5cr </td>
            <td> <p align="left|right|center|justify">Proportional accessiblity to regional destination- Auto: Employment accessibility expressed as a ratio of total
                MSA accessibility </td>
            <td> <p align="left|right|center|justify">Destination Accessibility </td>
            <td> <p align="left|right|center|justify"></td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D5cri </td>
            <td> <p align="left|right|center|justify">Regional Centrality Index - Auto: CBG D5cr score relative to max CBSA D5cr score </td>
            <td> <p align="left|right|center|justify">Destination Accessibility </td>
            <td> <p align="left|right|center|justify"></td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D5ce </td>
            <td> <p align="left|right|center|justify">Proportional Accessibility to Regional Destinations - Transit: Emplyment accessibility expressed as a ratio to
                total MSA accessibility </td>
            <td> <p align="left|right|center|justify">Destination Accessibility </td>
            <td> <p align="left|right|center|justify"></td>
            <td> <p align="left|right|center|justify">Option 1: Remove feature Option 2: Remove rows with values or -99999 Option 3: Replaced value of -99999 as 0
                because it is likely that it does not have public transit in area </td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D5cei </td>
            <td> <p align="left|right|center|justify">Regional Centrality Index - Auto: BCG D5ce score score raltive to max CBSA D5ce score </td>
            <td> <p align="left|right|center|justify">Destination Accessibility </td>
            <td> <p align="left|right|center|justify"></td>
            <td> <p align="left|right|center|justify"></td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D5dr </td>
            <td> <p align="left|right|center|justify">Proportional Accessibility of Regional Destinations - Transit: Employment accessibility expressed as a ratio
                of total MSA accessibility </td>
            <td> <p align="left|right|center|justify">Destination </td>
            <td> <p align="left|right|center|justify"></td>
            <td> <p align="left|right|center|justify">Option 1: Remove feature Option 2: Remove rows with values or -99999 Option 3: Replaced value of -99999 as 0
                because it is likely that it does not have public transit in area </td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D5dri </td>
            <td> <p align="left|right|center|justify">Regional Centrality Index - Transit: CBG D5dr score relative to max CBSA D5dr score </td>
            <td> <p align="left|right|center|justify">Destination </td>
            <td> <p align="left|right|center|justify"></td>
            <td> <p align="left|right|center|justify">Option 1: Remove feature Option 2: Remove rows with values or -99999 Option 3: Replaced value of -99999 as 0
                because it is likely that it does not have public transit in area </td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D5de </td>
            <td> <p align="left|right|center|justify">Proportional Accessibility of Regional Destination - Transit: Working age population accessibility expressed
                as a ratio of total MSA </td>
            <td> <p align="left|right|center|justify">Destination </td>
            <td> <p align="left|right|center|justify"></td>
            <td> <p align="left|right|center|justify">Option 1: Remove feature Option 2: Remove rows with values or -99999 Option 3: Replaced value of -99999 as 0
                because it is likely that it does not have public transit in area </td>
        </tr>
        <tr>
            <td> <p align="left|right|center|justify">D5dei </td>
            <td> <p align="left|right|center|justify">Regional Centrality Index - Transit: CBG D5de score relative to max CBSA D5de score </td>
            <td> <p align="left|right|center|justify">Destination </td>
            <td> <p align="left|right|center|justify"></td>
            <td> <p align="left|right|center|justify">Option 1: Remove feature Option 2: Remove rows with values or -99999 Option 3: Replaced value of -99999 as 0
                because it is likely that it does not have public transit in area </td>
        </tr>
    </tbody>
</table>

<h3><strong>Normalize the data, obtain new features, modify data</strong></h3>

In [142]:
#normalize cbsa_pop
smartLocation['CBSA_POP_NORM'] = smartLocation['CBSA_POP']/smartLocation['AC_UNPR']

#normalize cbsa_emp
smartLocation['CBSA_WRK_NORM'] = smartLocation['CBSA_WRK']/smartLocation['AC_UNPR']

#percent of tiered- wage workers (home)
smartLocation['R_LOWWAGEWK_PERC'] = smartLocation['R_LOWWAGEWK'] / smartLocation['WORKERS']
smartLocation['R_MEDWAGEWK_PERC'] = smartLocation['R_MEDWAGEWK'] / smartLocation['WORKERS']
smartLocation['R_HIWAGEWK_PERC'] = smartLocation['R_HIWAGEWK'] / smartLocation['WORKERS']

#percent of tiered-wage workers (work)
smartLocation['E_LOWWAGEWK_PERC'] = smartLocation['E_LOWWAGEW'] / smartLocation['EMPTOT']
smartLocation['E_MEDWAGEWK_PERC'] = smartLocation['E_MEDWAGEW'] / smartLocation['EMPTOT']
smartLocation['E_HIWAGEWK_PERC'] = smartLocation['E_HIWAGEWK'] / smartLocation['EMPTOT']

#convert non-existing data to 0s in D4c, D4d
smartLocation['D4c_clean'] = smartLocation['D4c'].replace(-99999, 0)
smartLocation['D4d_clean'] = smartLocation['D4d'].replace(-99999, 0)
#print(smartLocation.head())

<h3><strong>List of features in smartLocation DataFrame</strong></h3>

In [143]:
#contains features

#smartLocation.head()
#list(smartLocation.columns.values)

<h3><strong>Keep only features needed</strong></h3>

In [144]:
# only keep needed features
# that are in the table 
# choose between using cleaned D4c and D4d
# or uncleaned (D4c_cleaned and D4d_cleaned has 0s instead of -99999)

# features with cleaned D4c and D4d
smartLocation_feature_list = ["GEOID10", "CBSA_WRK_NORM", "CBSA_POP_NORM", "R_LOWWAGEWK_PERC", "R_MEDWAGEWK_PERC", "R_HIWAGEWK_PERC", "E_LOWWAGEWK_PERC", "E_MEDWAGEWK_PERC", "E_HIWAGEWK_PERC", "D4c_clean", "D4d_clean", "P_WRKAGE", "PCT_AO0", "PCT_AO1", "PCT_AO2P", "R_PCTLOWWAGE", "E_PCTLOWWA", "D1A", "D1B", "D1C", "D2A_JPHH", "D2R_WRKEMP", "D2C_WREMIX", "D3a", "D3aao", "D3amm", "D3apo", "D3b", "D3bao", "D3bmm3", "D3bmm4", "D3bpo3", "D3bpo4", "D4a", "D4b025", "D4b050", "D5ar", "D5ae", "D5br", "D5be", "D5cri", "D5ce", "D5cei", "D5dr", "D5dri", "D5de", "D5dei"]

# features without cleaned D4c and D4d
#smartLocation_feature_list = ["GEOID10", "CBSA_WRK_NORM", "CBSA_POP_NORM", "R_LOWWAGEWK_PERC", "R_MEDWAGEWK_PERC", "R_HIWAGEWK_PERC", "E_LOWWAGEWK_PERC", "E_MEDWAGEWK_PERC", "E_HIWAGEWK_PERC", "D4c", "D4d", "P_WRKAGE", "PCT_AO0", "PCT_AO1", "PCT_AO2P", "R_PCTLOWWAGE", "E_PCTLOWWA", "D1A", "D1B", "D1C", "D2A_JPHH", "D2R_WRKEMP", "D2C_WREMIX", "D3a", "D3aao", "D3amm", "D3apo", "D3b", "D3bao", "D3bmm3", "D3bmm4", "D3bpo3", "D3bpo4", "D4a", "D4b025", "D4b050", "D5ar", "D5ae", "D5br", "D5be", "D5cri", "D5ce", "D5cei", "D5dr", "D5dri", "D5de", "D5dei"]

print("Features being selected to use:", smartLocation_feature_list)
print()

# this creates our new smartLocation DataFrame 
# from our list above 
new_smartLocation = smartLocation.copy()
column_idxs = []
{column_idxs.append(new_smartLocation.columns.get_loc(c)):c for idx, c in enumerate(smartLocation_feature_list)}

print("Total number of columns before selecting features in 'smartLocation' DataFrame:", len(smartLocation.columns))

new_smartLocation = new_smartLocation.iloc[:, column_idxs]

print("Total number of features keeping in 'new_smartLocation' DataFrame:", len(new_smartLocation.columns))
#print(new_smartLocation)

Features being selected to use: ['GEOID10', 'CBSA_WRK_NORM', 'CBSA_POP_NORM', 'R_LOWWAGEWK_PERC', 'R_MEDWAGEWK_PERC', 'R_HIWAGEWK_PERC', 'E_LOWWAGEWK_PERC', 'E_MEDWAGEWK_PERC', 'E_HIWAGEWK_PERC', 'D4c_clean', 'D4d_clean', 'P_WRKAGE', 'PCT_AO0', 'PCT_AO1', 'PCT_AO2P', 'R_PCTLOWWAGE', 'E_PCTLOWWA', 'D1A', 'D1B', 'D1C', 'D2A_JPHH', 'D2R_WRKEMP', 'D2C_WREMIX', 'D3a', 'D3aao', 'D3amm', 'D3apo', 'D3b', 'D3bao', 'D3bmm3', 'D3bmm4', 'D3bpo3', 'D3bpo4', 'D4a', 'D4b025', 'D4b050', 'D5ar', 'D5ae', 'D5br', 'D5be', 'D5cri', 'D5ce', 'D5cei', 'D5dr', 'D5dri', 'D5de', 'D5dei']

Total number of columns before selecting features in 'smartLocation' DataFrame: 127
Total number of features keeping in 'new_smartLocation' DataFrame: 47

### **Combine Data**

* Use 'GeoFIPS' from our modeShareSOVPerc and 'GEOID10' form our new_smartLocation DataFrames to combine
* Drop rows that have NaN for percSOV cause no value for our target will mess up our algorithms

In [145]:
# combine data
mergedData = pd.merge(modeShareSOVPerc, new_smartLocation, left_on='Geo_FIPS', right_on='GEOID10')
print("Number of rows after combining data:", len(mergedData))

# drop the rows with NaN for 'percSOV'
mergedData = mergedData.dropna(subset=['percSOV'])
print("Number of rows after droping data with NaN for 'percSOV':", len(mergedData))

Number of rows after combining data: 220279
Number of rows after droping data with NaN for 'percSOV': 218937

### **Export Combined Data as mergedData_PreDarwin.csv**

* Note: Not ready for Darwin yet, but contains our nessesary features combined from both datasets

In [146]:
# converts mergedData to csv so that it can be cleaned
# ignore the index column, it's not needed
mergedData.to_csv("mergedData_PreDarwin.csv", index=False)

In [147]:
mergedDataClean_PreDarwin = pd.read_csv("mergedData_PreDarwin.csv").copy()

# check columns 
print(mergedDataClean_PreDarwin.columns)

Index(['Geo_FIPS', 'percSOV', 'GEOID10', 'CBSA_WRK_NORM', 'CBSA_POP_NORM',
       'R_LOWWAGEWK_PERC', 'R_MEDWAGEWK_PERC', 'R_HIWAGEWK_PERC',
       'E_LOWWAGEWK_PERC', 'E_MEDWAGEWK_PERC', 'E_HIWAGEWK_PERC', 'D4c_clean',
       'D4d_clean', 'P_WRKAGE', 'PCT_AO0', 'PCT_AO1', 'PCT_AO2P',
       'R_PCTLOWWAGE', 'E_PCTLOWWA', 'D1A', 'D1B', 'D1C', 'D2A_JPHH',
       'D2R_WRKEMP', 'D2C_WREMIX', 'D3a', 'D3aao', 'D3amm', 'D3apo', 'D3b',
       'D3bao', 'D3bmm3', 'D3bmm4', 'D3bpo3', 'D3bpo4', 'D4a', 'D4b025',
       'D4b050', 'D5ar', 'D5ae', 'D5br', 'D5be', 'D5cri', 'D5ce', 'D5cei',
       'D5dr', 'D5dri', 'D5de', 'D5dei'],
      dtype='object')

# Make Adjustments before Uploading

<h3><strong>Drop columns that are no longer needed</strong></h3>

<ul>Note: Darwin will use these columns for preditions if we don't drop them</ul>
<ul>Reference: Look at <a href="#smartLocation">SmartLocation</a> table for choosing features that might need to be adjusted</ul>

In [223]:
# drop identifiers 
mergedDataClean = mergedDataClean_PreDarwin.drop(columns=["Geo_FIPS", "GEOID10"])

# check columns 
print(mergedDataClean.columns)
print()
print("Amount of rows:", len(mergedDataClean))

rows_before_drop = len(mergedDataClean)

Index(['percSOV', 'CBSA_WRK_NORM', 'CBSA_POP_NORM', 'R_LOWWAGEWK_PERC',
       'R_MEDWAGEWK_PERC', 'R_HIWAGEWK_PERC', 'E_LOWWAGEWK_PERC',
       'E_MEDWAGEWK_PERC', 'E_HIWAGEWK_PERC', 'D4c_clean', 'D4d_clean',
       'P_WRKAGE', 'PCT_AO0', 'PCT_AO1', 'PCT_AO2P', 'R_PCTLOWWAGE',
       'E_PCTLOWWA', 'D1A', 'D1B', 'D1C', 'D2A_JPHH', 'D2R_WRKEMP',
       'D2C_WREMIX', 'D3a', 'D3aao', 'D3amm', 'D3apo', 'D3b', 'D3bao',
       'D3bmm3', 'D3bmm4', 'D3bpo3', 'D3bpo4', 'D4a', 'D4b025', 'D4b050',
       'D5ar', 'D5ae', 'D5br', 'D5be', 'D5cri', 'D5ce', 'D5cei', 'D5dr',
       'D5dri', 'D5de', 'D5dei'],
      dtype='object')

Amount of rows: 218937

### Remove data that might not work well with the algorithms

In [224]:
# Here we are droping rows that don't have a certain value
print("Amount of rows before droping:", rows_before_drop)

# drop rows that have -99999???
mergedDataClean = mergedDataClean[mergedDataClean.D4a != -99999]

'''
# this is if we are not using the D4c_clean and D4d_clean 
# data we got from combining the data
# (D4c_clean and D4d_clean replaced -99999 as 0s)
mergedDataClean = mergedDataClean[mergedDataClean.D4c != -99999]
mergedDataClean = mergedDataClean[mergedDataClean.D4d != -99999]
'''

#'''
mergedDataClean = mergedDataClean[mergedDataClean.D5br != -99999]
mergedDataClean = mergedDataClean[mergedDataClean.D5be != -99999]
mergedDataClean = mergedDataClean[mergedDataClean.D5ce != -99999]
mergedDataClean = mergedDataClean[mergedDataClean.D5dr != -99999]
mergedDataClean = mergedDataClean[mergedDataClean.D5dri != -99999]
mergedDataClean = mergedDataClean[mergedDataClean.D5de != -99999]
#'''
#print(mergedDataClean.head())
print("Amount of rows after dropping:", len(mergedDataClean))

perc_data_loss = ((rows_before_drop - len(mergedDataClean)) / rows_before_drop) * 100 

print("Percent of data loss: " + str(round(perc_data_loss, 2)) + "%")
'''
import numpy as np
f = np.float64(92854.7303)

print(isinstance(f, np.float64))
'''

# remove any remaining NaN 'empty' rows before uploading
# *they show up as empty strings so convert them to nan to drop
# mergedDataClean.replace('', np.nan, inplace=True)

mergedDataClean = mergedDataClean.dropna()
print("Amount of rows after dropping NaN:", len(mergedDataClean))

Amount of rows before droping: 218937
Amount of rows after dropping: 70813
Percent of data loss: 67.66%
Amount of rows after dropping NaN: 69687

### **Save as new merged data ready for Darwin**

In [225]:
# check before converting to new csv file
#print(mergedDataClean.head())
print("Columns:", mergedDataClean.columns)
print("Rows:", len(mergedDataClean))

Columns: Index(['percSOV', 'CBSA_WRK_NORM', 'CBSA_POP_NORM', 'R_LOWWAGEWK_PERC',
       'R_MEDWAGEWK_PERC', 'R_HIWAGEWK_PERC', 'E_LOWWAGEWK_PERC',
       'E_MEDWAGEWK_PERC', 'E_HIWAGEWK_PERC', 'D4c_clean', 'D4d_clean',
       'P_WRKAGE', 'PCT_AO0', 'PCT_AO1', 'PCT_AO2P', 'R_PCTLOWWAGE',
       'E_PCTLOWWA', 'D1A', 'D1B', 'D1C', 'D2A_JPHH', 'D2R_WRKEMP',
       'D2C_WREMIX', 'D3a', 'D3aao', 'D3amm', 'D3apo', 'D3b', 'D3bao',
       'D3bmm3', 'D3bmm4', 'D3bpo3', 'D3bpo4', 'D4a', 'D4b025', 'D4b050',
       'D5ar', 'D5ae', 'D5br', 'D5be', 'D5cri', 'D5ce', 'D5cei', 'D5dr',
       'D5dri', 'D5de', 'D5dei'],
      dtype='object')
Rows: 69687

In [227]:
# converts mergedData to csv so that it can be cleaned
# ignore the index column, it's not needed

mergedDataClean.to_csv("mergedData_Darwin.csv", index=False)

# Data Upload and Clean

**Read dataset and view a file snippet**

After setting up the dataset path, the next step is to upload the dataset from your local device to the server. <br> In the cell below, you need to specify the dataset_name if you want to use your own data.

### **Remove old Datasets, Jobs, Models** 
This might help Darwin from mixing up jobs and datasets

In [231]:
#ds.delete_all_artifacts()
#ds.delete_all_datasets()
#ds.delete_all_models()

#ds.lookup_job_status_name("90e5b77f71d54045a9cc912fb3e2b540")

Deleting mergedData_Darwin.csv

(True, None)

### **Upload dataset to Darwin**

In [232]:
# Set path to datasets - The default below assumes Jupyter was started from amb-sdk/examples/Enterprise/
# Modify accordingly if you wish to use your own data
path='./'
dataset_name='mergedData_Darwin.csv'

# A timestamp is used to create a unique name in the event you execute the workflow multiple times or with 
# different datasets.  File names must be unique in Darwin.
import datetime
ts = '{:%Y%m%d%H%M%S}'.format(datetime.datetime.now())

In [233]:
# Upload dataset
status, dataset = ds.upload_dataset(os.path.join(path, dataset_name))
if not status:
    print(dataset)

### **Clean dataset**

In [234]:
# clean dataset
target = "percSOV"
status, job_id = ds.clean_data(dataset_name, target = target)

if status:
    print("Job ID:", job_id['job_name'])
    ds.wait_for_job(job_id['job_name'])
else:
    print(job_id)
    print("Job ID:", job_id['job_name'])

Job ID: e29ad06082cd4afcb32563f01a182346
{'status': 'Requested', 'starttime': '2019-04-12T03:11:07.679373', 'endtime': None, 'percent_complete': 0, 'job_type': 'CleanDataTiny', 'loss': None, 'generations': None, 'dataset_names': ['mergedData_Darwin.csv'], 'artifact_names': ['afd6bbe686d6477b8659b7cef699cc8a'], 'model_name': None, 'job_error': None}
{'status': 'Failed', 'starttime': '2019-04-12T03:11:07.679373', 'endtime': '2019-04-12T03:11:10.200322', 'percent_complete': 100, 'job_type': 'CleanDataTiny', 'loss': None, 'generations': None, 'dataset_names': ['mergedData_Darwin.csv'], 'artifact_names': ['afd6bbe686d6477b8659b7cef699cc8a'], 'model_name': None, 'job_error': 'DarwinInternalErroruncaught'}

### **Download cleaned dataset**

In [235]:
# check to see what exacly happens when
# Darwin cleans the data 
# (Don't think it does anything actually..)
ds.download_dataset(dataset_name)

(True,
 {'filename': 'C:\\Users\\THOMAS~1\\AppData\\Local\\Temp\\mergedData_Darwin.csv-part0-je8n9cic.csv',
  'part': 0,
  'note': 'part 0 of 0'})

# Create and Train Model

We will now build a model that will learn the class labels in the target column.<br> The target column is "percSOV". <br> You will have to specify your own target name for your custom dataset. <br> You can also increase max_train_time for longer training.

In [212]:
model = target + "_model1"
status, job_id = ds.create_model(dataset_names = dataset_name, \
                                 model_name =  model, \
                                 max_train_time = '00:02')
if status:
    ds.wait_for_job(job_id['job_name'])
else:
    print(job_id)

{'status': 'Requested', 'starttime': '2019-04-12T02:47:15.895048', 'endtime': None, 'percent_complete': 0, 'job_type': 'TrainModel', 'loss': None, 'generations': 0, 'dataset_names': ['mergedData_Darwin.csv'], 'artifact_names': None, 'model_name': 'percSOV_model1', 'job_error': None}
{'status': 'Running', 'starttime': '2019-04-12T02:47:15.895048', 'endtime': None, 'percent_complete': 0, 'job_type': 'TrainModel', 'loss': None, 'generations': 0, 'dataset_names': ['mergedData_Darwin.csv'], 'artifact_names': None, 'model_name': 'percSOV_model1', 'job_error': ''}
{'status': 'Failed', 'starttime': '2019-04-12T02:47:15.895048', 'endtime': '2019-04-12T02:47:31.770248', 'percent_complete': 100, 'job_type': 'TrainModel', 'loss': None, 'generations': 0, 'dataset_names': ['mergedData_Darwin.csv'], 'artifact_names': None, 'model_name': 'percSOV_model1', 'job_error': 'FailedDownload: Failed to download entity of type Object from location artifacts/cf769420-4fc0-11e9-9819-bb5e73fec5bc_a526a941f23349cc94106ad959c3d526/data_profiler_main'}

In [181]:
# Train some more
status, job_id = ds.resume_training_model(dataset_names = dataset_name,
                                          model_name = model,
                                          max_train_time = '00:05')
                                          
if status:
    ds.wait_for_job(job_id['job_name'])
else:
    print(job_id)

{'status': 'Requested', 'starttime': '2019-04-12T02:02:10.882738', 'endtime': None, 'percent_complete': 0, 'job_type': 'UpdateModel', 'loss': None, 'generations': 0, 'dataset_names': ['mergedData_Darwin.csv'], 'artifact_names': None, 'model_name': 'percSOV_model1', 'job_error': None}
{'status': 'Running', 'starttime': '2019-04-12T02:02:10.882738', 'endtime': None, 'percent_complete': 0, 'job_type': 'UpdateModel', 'loss': None, 'generations': 0, 'dataset_names': ['mergedData_Darwin.csv'], 'artifact_names': None, 'model_name': 'percSOV_model1', 'job_error': ''}
{'status': 'Failed', 'starttime': '2019-04-12T02:02:10.882738', 'endtime': '2019-04-12T02:02:26.359248', 'percent_complete': 100, 'job_type': 'UpdateModel', 'loss': None, 'generations': 0, 'dataset_names': ['mergedData_Darwin.csv'], 'artifact_names': None, 'model_name': 'percSOV_model1', 'job_error': 'FailedDownload: Failed to download entity of type Object from location artifacts/cf769420-4fc0-11e9-9819-bb5e73fec5bc_25e669c09d5340999f190815ee5e8253/data_profiler_main'}

In [129]:
# Retrieve feature importance of built model
status, artifact = ds.analyze_model(model)
sleep(1)
if status:
    ds.wait_for_job(artifact['job_name'])
else:
    print(artifact)
status, feature_importance = ds.download_artifact(artifact['artifact_name'])

{'status': 'Running', 'starttime': '2019-04-12T01:05:07.613918', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzeModel', 'loss': 0.5800882577896118, 'generations': 4, 'dataset_names': None, 'artifact_names': ['838fb545e1c746f1a2e5a5cfc532b17b'], 'model_name': 'percSOV_model1', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-12T01:05:07.613918', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzeModel', 'loss': 0.5800882577896118, 'generations': 4, 'dataset_names': None, 'artifact_names': ['838fb545e1c746f1a2e5a5cfc532b17b'], 'model_name': 'percSOV_model1', 'job_error': ''}
{'status': 'Complete', 'starttime': '2019-04-12T01:05:07.613918', 'endtime': '2019-04-12T01:05:30.695562', 'percent_complete': 100, 'job_type': 'AnalyzeModel', 'loss': 0.5800882577896118, 'generations': 4, 'dataset_names': None, 'artifact_names': ['838fb545e1c746f1a2e5a5cfc532b17b'], 'model_name': 'percSOV_model1', 'job_error': ''}

# Extra Training (Optional)
Run the following cell for extra training, no need to specify parameters

In [162]:
# Train some more
status, job_id = ds.resume_training_model(dataset_names = dataset_name,
                                          model_name = model,
                                          max_train_time = '00:05')
                                          
if status:
    ds.wait_for_job(job_id['job_name'])
else:
    print(job_id)

{'status': 'Requested', 'starttime': '2019-04-12T01:40:21.782083', 'endtime': None, 'percent_complete': 0, 'job_type': 'UpdateModel', 'loss': 0.5800882577896118, 'generations': 4, 'dataset_names': ['mergedData_Darwin.csv'], 'artifact_names': None, 'model_name': 'percSOV_model1', 'job_error': None}
{'status': 'Running', 'starttime': '2019-04-12T01:40:21.782083', 'endtime': None, 'percent_complete': 0, 'job_type': 'UpdateModel', 'loss': 0.5800882577896118, 'generations': 4, 'dataset_names': ['mergedData_Darwin.csv'], 'artifact_names': None, 'model_name': 'percSOV_model1', 'job_error': ''}
{'status': 'Failed', 'starttime': '2019-04-12T01:40:21.782083', 'endtime': '2019-04-12T01:40:37.699561', 'percent_complete': 100, 'job_type': 'UpdateModel', 'loss': 0.5800882577896118, 'generations': 4, 'dataset_names': ['mergedData_Darwin.csv'], 'artifact_names': None, 'model_name': 'percSOV_model1', 'job_error': 'FailedDownload: Failed to download entity of type Object from location artifacts/cf769420-4fc0-11e9-9819-bb5e73fec5bc_a79584c0ec8a4b0b958f86ba4d4ada6f/data_profiler_main'}

# Analyze Model
Analyze model provides feature importance ranked by the model. <br> It indicates a general view of which features pose a bigger impact on the model

In [163]:
# Retrieve feature importance of built model
status, artifact = ds.analyze_model(model)
sleep(1)
if status:
    ds.wait_for_job(artifact['job_name'])
else:
    print(artifact)
status, feature_importance = ds.download_artifact(artifact['artifact_name'])

{'status': 'Running', 'starttime': '2019-04-12T01:40:53.040963', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzeModel', 'loss': 0.5800882577896118, 'generations': 4, 'dataset_names': None, 'artifact_names': ['ef834361f80d4042b971bc70b95d0973'], 'model_name': 'percSOV_model1', 'job_error': ''}
{'status': 'Running', 'starttime': '2019-04-12T01:40:53.040963', 'endtime': None, 'percent_complete': 0, 'job_type': 'AnalyzeModel', 'loss': 0.5800882577896118, 'generations': 4, 'dataset_names': None, 'artifact_names': ['ef834361f80d4042b971bc70b95d0973'], 'model_name': 'percSOV_model1', 'job_error': ''}
{'status': 'Complete', 'starttime': '2019-04-12T01:40:53.040963', 'endtime': '2019-04-12T01:41:15.637692', 'percent_complete': 100, 'job_type': 'AnalyzeModel', 'loss': 0.5800882577896118, 'generations': 4, 'dataset_names': None, 'artifact_names': ['ef834361f80d4042b971bc70b95d0973'], 'model_name': 'percSOV_model1', 'job_error': ''}

In [213]:
feature_importance[:10]

D4d             0.335981
OBJECTID        0.122249
PCT_AO2P        0.119310
PCT_AO0         0.109692
D5br            0.035598
Shape_Area      0.032498
R_PCTLOWWAGE    0.027621
P_WRKAGE        0.026726
SFIPS = 5       0.014547
D1B             0.012050
dtype: float64

# Predictions
**Perform model prediction on the the training dataset.**

In [165]:
status, artifact = ds.run_model(DATASET_NAME, model)
sleep(1)
ds.wait_for_job(artifact['job_name'])

NameError: name 'DATASET_NAME' is not defined

<strong>Download predictions from Darwin's servers

In [ ]:
status, prediction = ds.download_artifact(artifact['artifact_name'])
print(len(df[target]))
print(len(prediction[target]))

Create plots comparing predictions with actual target

In [ ]:
#Plot predictions vs actual
plt.plot(df[target], prediction[target], '.')
#plt.plot([0,2.3e7],[0,2.3e7],'--k')
print('R^2 : ', r2_score(df[target], prediction[target]))

## Find out which machine learning model did Darwin use:

In [ ]:
status, model_type = ds.lookup_model_name(model)
print(model_type['description']['best_genome'])

In [ ]:
for col in df.columns:
    print(col)
    count9s = 0
    for row in df[col]:
        if row == -99999:
            count9s+=1
    print(count9s)